canvas.loader { position:absolute; inset: 0; margin:auto; }
div.loader { position:absolute; inset: 0; margin:auto; line-height:1.3em;
	width:400px; height:100px; color:#fff; text-align:center; vertical-align:middle; font-size:32px; font-weight:700;
	text-shadow:0 0 10px rgba(0,0,0,0.5);
}
