div.log {
	font-size:13px; font-family:'Courier New', Courier, monospace; line-height: 1.4em;
	> p { margin:0.5em 1em; padding:0;
		> table { border-collapse: collapse;
			tr { &:nth-child(odd) { background:#000; }
				td { padding:0.1em 0.5em; border:1px solid #888;
					&.right { text-align:right; }
				}
			}
		}
		> button { padding: 0.5rem 1rem; margin: 0.5rem; background: #444; color: #fff;
			border: 1px solid #ccc; border-radius: 5px; min-width: 6em;
			&:hover { background: rgba(255, 255, 255, 0.2); }
		}
		> span.big { font-size: 110%; font-weight: bold;}
		> img { width:100%; }
		> span { padding:0 1em 0 0; }
		&.title { margin:2rem 0 1rem 0;
			> span.title { font-size:150%; font-weight:bold; background:#444; padding:0.5rem 1rem; border-radius:5px;}
			> span.subtitle { font-size:110%; font-weight: bold; margin-left: 1rem; }
		}
		&.success { font-size:110%; font-weight:bold; }
		&.warn { font-size:110%; font-weight:bold; color:#ff0; }
		&.error { font-size:110%; font-weight:bold; color:#f08; }
		&.progress { font-size:100%; .done { color:#0c0; padding-right:0; } .rest { color:#008; padding-right: 0; }}
		&.event { font-size: 100%; }
		&.prompt { font-size: 110%; font-weight: bold;
			.answer { min-width:10em; display:inline-block; padding:0.5rem 1rem; margin:0 1em;}
		}
		button {
			padding: 0.5em 1em; margin: 0.5em; background: #444; color: #fff; border: 1px solid #ccc;
			border-radius: 5px; min-width: 5em;
			&:hover { background: #ccc; color:#000; }
		}
		.select-buttons { margin: 0 5px; font-size: 0; display:inline-block; margin: 0.5em;
			> button { border-radius: 0; border-width: 1px 0.5px; margin: 0;
				&:first-child { border-radius: 5px 0 0 5px; border-left-width: 1px; }
				&:last-child { border-radius: 0 5px 5px 0; border-right-width: 1px; }
				&.selected { background: #ccc; color: #000; }
			}
		}
	}
}